<div class="mb-3">
    <label class="form-label">Properties</label>
    <button class="btn btn-sm btn-outline-primary m-3" @onclick="AddProperty"><i class="fa fa-plus"></i></button>
    @foreach (var item in EntityModel.Properties.Select((p, i) => new { Property = p, Index = i }))
    {
        <div class="row mb-2 ml-3">
            <div class="col-auto">
                <button class="btn btn-outline-primary btn-sm btn-collapse" @onclick="@(() => EntityModel.Properties[item.Index].Collapse = !EntityModel.Properties[item.Index].Collapse)">
                    <i class="fa @item.Property.CollapseIconStyle"></i>
                </button>
            </div>
            <div class="col-auto">
                <div class="row mb-2">
                    <div class="col-auto">
                        <label for="type-@item.Index" class="visually-hidden">Type</label>
                        <input type="text"
                               class="form-control"
                               id="type-@item.Index"
                               placeholder="Type"
                               value="@item.Property.Type"
                               @onchange="@(p => EntityModel.Properties[item.Index].Type = p.Value?.ToString())" />
                    </div>
                    <div class="col-auto">
                        <label for="name-@item.Index" class="visually-hidden">Name</label>
                        <input type="text"
                               class="form-control"
                               id="name-@item.Index"
                               placeholder="Name"
                               value="@item.Property.Name"
                               @onchange="@(p => EntityModel.Properties[item.Index].Name = p.Value?.ToString())" />
                    </div>
                </div>

                <div class="row mb-2 @item.Property.CollapseStyle">
                    <div class="col-auto">
                        <label for="access-level-@item.Index" class="visually-hidden">Access Level</label>
                        <input type="text"
                               class="form-control"
                               id="access-level-@item.Index"
                               placeholder="Access Level"
                               value="@item.Property.AccessLevel"
                               @onchange="@(p => EntityModel.Properties[item.Index].AccessLevel = p.Value?.ToString())" />
                    </div>
                    <div class="col-auto">
                        <label for="get-access-level-@item.Index" class="visually-hidden">Get Access Level</label>
                        <input type="text"
                               class="form-control"
                               id="get-access-level-@item.Index"
                               placeholder="Get Access Level"
                               value="@item.Property.GetAccessLevel"
                               @onchange="@(p => EntityModel.Properties[item.Index].GetAccessLevel = p.Value?.ToString())" />
                    </div><div class="col-auto">
                        <label for="set-access-level-@item.Index" class="visually-hidden">Set Access Level</label>
                        <input type="text"
                               class="form-control"
                               id="set-access-level-@item.Index"
                               placeholder="Set Access Level"
                               value="@item.Property.SetAccessLevel"
                               @onchange="@(p => EntityModel.Properties[item.Index].SetAccessLevel = p.Value?.ToString())" />
                    </div>
                </div>
            </div>
        </div>

    }
</div>