@page "/designer/{*SolutionPath}"
@using System.Text.Json

<Layout Sider="true">
    <LayoutSider Style="@SiderStyle">
        <LayoutSiderContent>
            <Container>
                <Container>@SolutionRoot.Name</Container>
                <TreeView Nodes="SolutionRoot.Children"
                          GetChildNodes="@(item => item.Children)"
                          HasChildNodes="@(item => item.Children?.Any() == true)">
                    <NodeContent>

                        <ContextMenuTrigger MenuId="solutionMenu" CssClass="context-menu" WrapperTag="span" Data="context.Path">
                            @context.Name
                        </ContextMenuTrigger>

                    </NodeContent>
                </TreeView>
            </Container>
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutContent>
            <DmdCanvasComponent Width="@_windowWidth" Height="@_windowHeight" @ref="_dmdCanvasComponent"></DmdCanvasComponent>
        </LayoutContent>
    </Layout>
</Layout>

<ContextMenu Id="solutionMenu" ZIndex="9999">
    <Item OnClick="@OnAddEntityClickedAsync">Add Entity</Item>
</ContextMenu>

<Modal @ref="_addNewModalRef">
    @*<ModalBackdrop />*@
    <ModalContent IsCentered="true" Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>Add New Entity</ModalTitle>
            <CloseButton Clicked="@HideAddNewModal" />
        </ModalHeader>
        <ModalBody>
            <div class="row">
                <div class="col-3 d-flex flex-row-reverse">
                    <h6>Name</h6>
                </div>
                <div class="col-9">
                    <Field>
                        <TextEdit Placeholder="Enter name..." @bind-Text="@_newClassModel.Name" />
                    </Field>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="row d-flex flex-row-reverse">
                        <h6>Properties</h6>
                    </div>
                    @*<div class="row d-flex flex-row-reverse">
                            <Button Color="Color.Secondary" Size="Size.Small">Add</Button>
                        </div>*@
                </div>
                <div class="col-9">
                    <Field>
                        <TextEdit Placeholder="Enter property..." @bind-Text="@_newClassModel.Properties" />
                    </Field>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="row d-flex flex-row-reverse">
                        <h6>Methods</h6>
                    </div>
                    @*<div class="row d-flex flex-row-reverse">
                            <Button Color="Color.Secondary" Size="Size.Small">Add</Button>
                        </div>*@
                </div>
                <div class="col-9">
                    <Field>
                        <TextEdit Placeholder="Enter method..." @bind-Text="@_newClassModel.Methods" />
                    </Field>
                </div>
            </div>

        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideAddNewModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@AddNewEntityAsync">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
