@page "/designer/{SolutionPath}"
@using System.Text.Json

<Layout Sider="true">
    <LayoutSider Style="@SiderStyle">
        <LayoutSiderContent>
            <h6 class="mt-4 ml-3">@SolutionRoot.Name</h6>
            <hr />
            <TreeView Nodes="SolutionRoot.Children"
                      GetChildNodes="@(item => item.Children)"
                      HasChildNodes="@(item => item.Children?.Any() == true)"
                      Class="w-100 h-100">
                <NodeContent>

                    <ContextMenuTrigger MenuId="solutionMenu" CssClass="context-menu" WrapperTag="span" Data="context.Path">
                        @context.Name
                    </ContextMenuTrigger>

                </NodeContent>
            </TreeView>
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutContent Class="w-100 h-100">
            <DmdCanvasComponent @ref="_dmdCanvasComponent"></DmdCanvasComponent>
        </LayoutContent>
    </Layout>
</Layout>

<ContextMenu Id="solutionMenu" ZIndex="9999">
    <Item OnClick="@ToggleModal">Add Entity</Item>
</ContextMenu>

<EntityModal @ref="entityModal" ModalSaveClickCallBack="@AddNewEntityAsync"></EntityModal>